#scroll{
	position: relative;
	top: 73px;
}

#container{
	position:relative;
	margin: 0 auto;
	width: 1230px;
}

.block{
	padding: 15px;
	background:#fff;
	margin-bottom:10px;
	line-height:1.7;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	
	transition: box-shadow 1s;
	-moz-transition: -moz-box-shadow 1s;
	-webkit-transition: -webkit-box-shadow 1s;
}
.block:hover {
	box-shadow: 0 1px 13px rgba(34,25,25,1);
	-moz-box-shadow: 0 1px 13px rgba(34,25,25,1);
	-webkit-box-shadow: 0 1px 13px rgba(34,25,25,1);
}

.block h3, .recipe.name{
	font-size:18px;
	color:#7A8489;
	margin:0 5px;
	padding-bottom:5px;
	padding-left:10px;
	text-align:left;
	text-shadow:1px 1px 0 #fff, 2px 2px 1px #ccc;
	font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
	border-bottom:4px double #ccc;
}

.block p{
	font-size: 12px;
}

.imgholder{

	overflow:hidden;
	margin:0 auto;
	display:block;
	background:#000;
	border:5px solid;
	border-color:#ccc;
}
.imgholder:hover{
	border-color:#aaa;
}
.imgholder img{
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	opacity:1;
	
	transition:transform 0.5s ease-in-out, opacity 0.5s;
	-moz-transition:-moz-transform 0.5s ease-in-out, opacity 0.5s;
	-webkit-transition:-webkit-transform 0.5s ease-in-out, opacity 0.5s;
}
.imgholder:hover img{
	transform:scale(1, 1);
	-ms-transform:scale(1, 1);
	-moz-transform:scale(1, 1);
	-webkit-transform:scale(1, 1);
	-o-transform:scale(1, 1);
	opacity:0.9;
}